.flexing {
    display: flex;
    justify-content: space-between;

    margin: 2rem 2rem;
}

.submit-option {
    margin: 0 15rem;
}

label {
    display: block;
}



select,
input {
    padding: 0.5rem 2rem 0.5rem 0.1rem;
    border-radius: 5px;
    width: 19rem;
}


.modal {
    background-color: #fff;
}

.modal h3 {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    /* color: white; */
    color: black;
}

.form-container {
    background-color: #fff;
    padding-bottom: 4rem;
    /* color: white; */
    color: black;
}

/* #132128 */

form {
    width: 70%;
    margin: auto;
}

form div {
    margin: auto;
}

@media (max-width: 900px) {
    .flexing {
        display: block;
    }

    .submit-option {
        display: flex;
        margin: auto;
    }
}