.our-work {
    /* background-color: #132128; */
    margin-bottom: 0.2rem;
}

.work-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.work-container h1 {
    color: black;
    padding: 4rem 0;
    font-weight: 100;
    font-size: 3rem;
}

.work-samples {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.work-samples a {
    text-decoration: none;
    color: #132128;
}


.work-samples div {
    background-color: #fff;
    border: 0.1rem solid black;
    padding: 1.2rem;
    margin: 2rem;
    width: 35%;
    text-align: center;
    color: #132128;
}

.work-samples img {
    width: 98%;
}

.work-samples h4 {
    font-size: 1.4rem;
    padding-top: 2rem;
}

@media (max-width: 1000px) {
    .work-samples div {
        width: 40%;
    }

    .work-container {
        width: 100%;
    }
}

@media (max-width: 1400px) {
    .work-samples div {
        width: 40%;
    }

    .work-container {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .work-samples div {
        width: 100%;
    }

    .work-container {
        width: 100%;
    }
}