/* form {
    color: black;
}

.user-profile form {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    height: 60vh;
}

.user-profile h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.user-profile hr {
    border: 0.1rem solid black;
    width: 90%;
    margin-bottom: 1rem;
}

.flexing {
    display: flex;
}

label {
    display: block;
}

.blocking {
    margin-bottom: 2rem;
    margin-left: 3rem;
}

select,
input {
    padding: 0.5rem 2rem 0.5rem 0.1rem;
    border-radius: 5px;
    width: 19rem;
}

.profile-button {
    margin-left: 55%;
} */