/* #173b3f
#132128
#56C870
#e0f1eb
fff */

.container-three {
    background-color: #e0f1eb;
    display: flex;
    justify-content: space-between;
}

.courses {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.course-container {
    background-color: white;
    height: 35rem;
    width: 20rem;
    border-radius: 12px;
    padding-left: 2rem;
    padding-top: 3rem;
}

.container-three h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Inria Serif', Garamond, serif;
    font-weight: 400;
    font-style: italic;
}

.partners-contribution h5 {
    margin-bottom: 2rem;
    font-family: 'Inria Serif', Garamond, serif;
    font-weight: 300;
    font-size: 3rem;
}

.course-container li {
    list-style: none;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
    list-style: square
}

.four-sixteen,
.fiction-academy {
    display: flex;
    justify-content: space-between;
}

.academy-short-desc {
    margin-top: 5rem;
}

.four-sixteen-prod p,
.fiction-entertainment p,
.academy-short-desc p {
    font-size: 1.2rem;
    font-weight: 100;
}

.partners-contribution {
    width: 70%;
    margin: auto;
    padding: 6rem;
}

.fiction-academy img {
    width: 20rem;
    margin-top: -4rem;
    margin-left: 4rem;
}

.fiction-entertainment {
    display: flex;
    margin-top: 8rem;
}

.fiction-entertainment img {
    width: 23rem;
    margin-right: 4rem;
}

.four-sixteen-prod {
    margin-top: 8rem;
}

.four-sixteen img {
    width: 22rem;
    margin-top: -6rem;
    margin-left: 4rem;
}



@media (max-width: 1500px) {
    .partners-contribution {
        width: 90%;

    }

    .courses {
        width: 100%;
    }

    .container-three {
        padding-left: 3rem;
        padding-right: 3rem;
    }

}


@media (max-width: 1350px) {
    .container-three {
        display: block;
    }

    .course-container {
        height: 35rem;
        width: 25rem;

    }
}

@media (max-width: 900px) {

    .four-sixteen,
    .fiction-academy {
        display: block;
    }

    .fiction-entertainment {
        display: block;
    }
}

@media (max-width: 850px) {

    .courses {
        width: 70%;
        display: block;
        margin: auto;
    }

    .course-container {
        height: 35rem;
        width: 30rem;
        margin-bottom: 3rem;

    }

    .partners-contribution {
        width: 100%;
        margin: auto;
        padding: 2rem;
    }

    .four-sixteen img {
        margin: auto;
        margin-left: 2rem;
    }

}

@media (max-width: 600px) {
    .course-container {
        width: 25rem;
    }

    .courses {
        width: 100%;
        margin: auto;
    }
}