/* #173b3f
#132128
#56C870
#e0f1eb
fff */

.registration {
    width: 70%;
    margin: auto;
    padding: 8rem 0;
}

.registration-form {
    background-color: #132128;
}

.registration-form h3 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-family: 'Inria Serif', Garamond, serif;
    font-weight: 400;
    font-style: italic;
}

.reg-button {
    text-align: center;

}

.reg-button button {
    font-weight: 400;
}

.footer-section {
    background-color: #173b3f;
    color: white;
}

.footer {
    width: 70%;
    padding: 4rem 0;
    margin: auto;
    font-size: 0.89em;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contact-details {
    margin-bottom: 3rem;
}

.contact-details h4 {
    margin-bottom: 1.2rem;
}

.contact-details div div {
    margin-bottom: 0.8rem;
}

.icon {
    font-size: 3rem;
    padding: 0.6rem;
    border-radius: 45px;
    margin-right: 0.8rem;
    color: #132128;
    background-color: white;
    border: none;
}

strong {
    font-weight: 200;
}

.pages h4 {
    margin-bottom: 1.5rem;
}

.pages div {
    margin-bottom: 1.5rem;
    font-weight: 100;
}

.subscribe h4 {
    margin-bottom: 2rem;
}

.subscribe input {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    border: none;
    width: 130%;
}

.footer-links h4 {
    margin-bottom: 2rem;
}

.helpful-links div {
    padding-bottom: 1rem;
}