/* #173b3f
#132128
#56C870
#e0f1eb
fff */

/* * {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.reg-form {
    background-color: #f9fafb;
}

.welcome {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.welcome p {
    font-size: 0.8rem;
}

.container-five {
    width: 70%;
    margin: auto;
    padding: 5rem 5rem;
}

.main-container {
    display: flex;
}

.sidebar {
    background: #ebecec;
    color: #132128;
    height: 60vh;
    width: 22rem;
}

.sidebar hr {
    width: 100%;
    border: 0.1rem solid white;
    margin-top: 2rem;
}

main {
    width: 50rem;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #132128;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: #56C870;
    color: #132128;
    transition: 0.5s;
}

.active {
    background: #56C870;
    color: #132128;
}

.icon,
.link_text {
    font-size: 20px;
} */